@import 'src/styles/mixins';

.upload {
  padding-top: 10px;
}

.text {
  @include resetText;
  color: #7E92AE;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 50px;
}

.row {
  display: flex;
  align-items: baseline;
  gap: 20px;
  color: #7E92AE;
}

.hint {
  @include resetText;
}
